extends layout

block content
  h1= title
  - let result=[{Name:"Hand bags",Brand:"Coach",Price:400},{Name:"bum bags",Brand:"Guess",Price:250},{Name:"Backpack",Brand:"Gucci",Price:2000}] 
  div(class="container-fluid")
  div(class="row")
    each form,index in result
      div(class = "col-sm-2" onclick=`buy(${index})`) #{form.Name}-#{form.Brand}-#{form.Price}
  script.

    function buy(itemNo)
    {
      alert(`You purchased Item ${itemNo+1}`)
    }